@charset "UTF-8";

header{width: 100%; height: 50px; position: relative; padding: 0 24px; position: fixed; z-index: 9999999;}
header img{width: 10%; position: absolute; top: 50%; transform: translateY(-50%);}